body {
    height: 700px;
    width: auto;
    background-image: url("../img/23187.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
  }

  .logo {
      width: 380px;
      height: auto;
      position: relative;
      display: block;
      margin: auto;
      
  }

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: #2f016b;
    display: block;
  }
  
  .sidebar a:hover {
    color: #00a5f1;
  }
  
  .main {
    margin-left: 160px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


  .ingreso {
      float:right;
      font-family: 'Quicksand', sans-serif;
      color: rgb(5, 31, 85);
      font-weight: bolder;
      font-size: 22px;
      
  }

  .ingresar {

    font-family: 'Quicksand', sans-serif;
    color: rgb(1, 7, 19);
    background: rgb(211, 211, 255);
    font-weight: bolder;
    border-bottom: rgb(10, 10, 58);
    border-radius: 50px;
    font-size: 22px;
  }

  .vid {

    width: 380px;
    height: auto;
    position: relative;
    display: block;
    margin: 200px;
    margin-left: 450px;
  }



